@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@import url("https://fonts.cdnfonts.com/css/dinpro-bold");
@import url("https://fonts.cdnfonts.com/css/esquadro");
* {
  box-sizing: border-box;
}

body, a, p, h1, h2, h3, h4, h5, h6, ul, li, span {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
}
@media (max-width: 1199.98px) {
  body, a, p, h1, h2, h3, h4, h5, h6, ul, li, span {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 767.98px) {
  body, a, p, h1, h2, h3, h4, h5, h6, ul, li, span {
    font-size: 14px;
    line-height: 20px;
  }
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: "Signika", sans-serif;
  font-size: 17.4px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.01;
  letter-spacing: 0.17px;
  text-decoration: none;
}

.container {
  max-width: 1420px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.head h2 {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 66px;
  letter-spacing: -1.5px;
  color: #a62f4e;
  margin-bottom: 20px;
}
@media (max-width: 1199.98px) {
  .head h2 {
    font-size: 50px;
    line-height: 56px;
  }
}
@media (max-width: 991.98px) {
  .head h2 {
    font-size: 40px;
    line-height: 46px;
  }
}
.head h2.main-h2 {
  font-size: 82px;
  line-height: 88px;
}
@media (max-width: 1199.98px) {
  .head h2.main-h2 {
    font-size: 70px;
    line-height: 76px;
  }
}
@media (max-width: 991.98px) {
  .head h2.main-h2 {
    font-size: 50px;
    line-height: 56px;
  }
}
@media (max-width: 767.98px) {
  .head h2.main-h2 {
    font-size: 38px;
    line-height: 44px;
  }
}

@font-face {
  font-family: eEsquadro;
  src: url(../assets/fonts/eEsquadro.ttf);
}
@font-face {
  font-family: Signika;
  src: url(../assets/fonts/Signika-VariableFont_wght.ttf);
}
header {
  box-shadow: 7px 7px 5px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 15px 0;
  position: relative;
}
@media (max-width: 991.98px) {
  header .inner {
    z-index: 999;
    background-color: #fff;
  }
}
header .inner .brand-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .inner .brand-name a {
  font-family: "DINPro-Bold", sans-serif;
  font-size: 18px;
  line-height: 0.97;
  letter-spacing: 0.18px;
  text-align: left;
  color: #a62f4e;
}
@media (max-width: 1359.98px) {
  header .inner .brand-name a {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 1199.98px) {
  header .inner .brand-name a {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 991.98px) {
  header .inner .brand-name a {
    display: none;
  }
}
header .inner .brand-name a.logo {
  max-width: 70px;
  min-height: 70px;
  margin-top: -15px;
  margin-right: 30px;
}
@media (max-width: 991.98px) {
  header .inner .brand-name a.logo {
    display: block;
  }
}
@media (max-width: 1359.98px) {
  header .inner .brand-name a.logo {
    margin-right: 20px;
  }
}
@media (max-width: 991.98px) {
  header .inner .brand-name a.logo {
    margin: 0;
  }
}
header .inner .brand-name a.logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .inner .toggler {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (max-width: 991.98px) {
  header .inner .toggler {
    display: block;
  }
}
header .inner .toggler.active .open {
  display: none;
}
header .inner .toggler.active .close {
  display: block;
}
header .inner .toggler button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: inline-flex;
  color: #a62f4e;
}
header .inner .toggler i {
  font-size: 26px;
  line-height: 1px;
}
header .inner .toggler .close {
  display: none;
}
@media (max-width: 991.98px) {
  header .inner .nav-menu {
    height: 100vh;
    opacity: 0;
    background-color: #fff;
    width: 100vw;
    left: -15px;
    position: absolute;
    top: 100px;
    transform: translateY(-150vh);
    transition: translate 0.3s ease-in-out;
    z-index: -1;
    display: none;
  }
  header .inner .nav-menu.active {
    transform: translateY(0);
    opacity: 1;
    display: block;
  }
  header .inner .nav-menu.active ul {
    flex-direction: column;
    padding: 30px;
  }
  header .inner .nav-menu.active ul li {
    padding: 30px 0;
  }
  header .inner .nav-menu.active ul li a {
    font-size: 18px;
    line-height: 24px;
  }
}
header .inner .nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
header .inner .nav-menu ul li {
  padding: 0 15px;
}
@media (max-width: 1359.98px) {
  header .inner .nav-menu ul li {
    padding: 0 10px;
  }
}
@media (max-width: 1023.98px) {
  header .inner .nav-menu ul li {
    padding: 0 5px;
  }
}
header .inner .nav-menu ul li a {
  color: #a62f4e;
}
@media (max-width: 1359.98px) {
  header .inner .nav-menu ul li a {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 1199.98px) {
  header .inner .nav-menu ul li a {
    font-size: 14px;
    line-height: 20px;
  }
}

.hero {
  margin-bottom: 50px;
}
.hero .container {
  padding: 0;
  max-width: 100%;
}
.hero .inner {
  max-height: 100vh;
  position: relative;
  display: flex;
}
.hero .inner .hero-image-wrapper {
  overflow: hidden;
}
.hero .inner::after {
  content: "";
  background: url(../assets/images/HomePageEnder@1x.png);
  width: 100%;
  max-height: 58px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  transform: translateY(70%);
  left: 0;
}
.hero .inner .hero-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero .inner .hero-img.mob {
  display: none;
}
@media (max-width: 575.98px) {
  .hero .inner .hero-img.mob {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .hero .inner .hero-img.desk {
    display: none;
  }
}

.about-us {
  padding: 100px 0;
  background-image: linear-gradient(to bottom, #fff, #f9f7f6 9%, #f0ece7 31%, #eae6df 57%, #e9e4dd 100%);
  position: relative;
}
@media (max-width: 991.98px) {
  .about-us {
    padding: 50px 0;
  }
}
.about-us::after {
  content: "";
  background: url(../assets/images/AboutYSDEnder@1x.png);
  width: 100%;
  max-height: 58px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  transform: translateY(70%);
  left: 0;
}
@media (max-width: 1359.98px) {
  .about-us::after {
    background-size: contain;
  }
}
.about-us .head {
  position: relative;
}
.about-us .head::after {
  content: "";
  max-width: 100px;
  max-height: 130px;
  height: 100%;
  width: 100%;
  background: url(../assets/images/RationaleIcon@1x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -40px;
}
@media (max-width: 575.98px) {
  .about-us .head::after {
    top: -105px;
  }
}
.about-us .head.reversed {
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .about-us .head.reversed {
    flex-direction: column;
  }
}
.about-us .head.reversed::after {
  content: none;
}
.about-us .head.reversed .heading {
  max-width: 440px;
}
.about-us .head.reversed .desc {
  flex: 1;
  max-width: 700px;
  width: 100%;
}
.about-us .head.reversed .desc .head {
  margin-top: 80px;
  max-width: 570px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 767.98px) {
  .about-us .head.reversed .desc .head {
    margin-top: 30px;
  }
}
.about-us .head.reversed .desc .head .img {
  margin-top: -20px;
}
.about-us .head.reversed .desc .head .img img {
  width: 100%;
}
.about-us .head.reversed .desc .head::after {
  content: none;
}
.about-us .head p {
  max-width: 95%;
}
.about-us .mission {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}
.about-us .mission::after {
  content: none;
}
.about-us .mission .img {
  margin-top: -40px;
  margin-right: 10px;
}
.about-us .mission .img img {
  width: 100%;
}
.about-us .mission p {
  max-width: 100%;
}
.about-us .mission-items {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
@media (max-width: 767.98px) {
  .about-us .mission-items {
    margin-top: 30px;
  }
}
.about-us .mission-items .mission-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
@media (max-width: 767.98px) {
  .about-us .mission-items .mission-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.about-us .mission-items .mission-wrapper .item {
  max-width: 120px;
  width: 100%;
  text-align: center;
}
.about-us .mission-items .mission-wrapper .item img {
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.about-us .mission-items .mission-wrapper .item img:hover {
  transform: scale(1.2);
  -o-object-fit: cover;
     object-fit: cover;
}
.about-us .mission-items .mission-wrapper .item h3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 19.7px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #000;
}
.about-us .mission-items p {
  margin-top: 20px;
}

.our-team {
  padding: 100px 0;
  background: url(../assets/images/ChairmanBG@1x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width: 991.98px) {
  .our-team {
    padding: 50px 0;
  }
}
.our-team::after {
  content: "";
  background: url(../assets/images/ChairmanEnder@1x.png);
  width: 100%;
  max-height: 58px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  transform: translateY(70%);
  left: 0;
}
@media (max-width: 1359.98px) {
  .our-team::after {
    background-size: contain;
  }
}
@media (max-width: 991.98px) {
  .our-team::after {
    bottom: -5px;
  }
}
.our-team .head h2 {
  color: #fff;
  max-width: 470px;
  display: inline-flex;
}
@media (max-width: 991.98px) {
  .our-team .head h2 {
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
.our-team .chairman-details {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 991.98px) {
  .our-team .chairman-details {
    flex-direction: column;
    align-items: center;
  }
}
.our-team .chairman-details .img {
  max-width: 570px;
  position: relative;
  display: flex;
}
@media (max-width: 991.98px) {
  .our-team .chairman-details .img {
    margin-bottom: 0;
    margin-top: 150px;
  }
}
@media (max-width: 575.98px) {
  .our-team .chairman-details .img {
    margin-bottom: 0;
    margin-top: 160px;
  }
}
.our-team .chairman-details .img img {
  width: 100%;
}
.our-team .chairman-details .img p {
  max-width: 245px;
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
}
.our-team .chairman-details .details {
  width: 100%;
  max-width: 660px;
  margin-left: 50px;
  margin-bottom: 50px;
}
@media (max-width: 1199.98px) {
  .our-team .chairman-details .details {
    margin-left: 0;
    margin-top: 170px;
  }
}
@media (max-width: 991.98px) {
  .our-team .chairman-details .details {
    margin-bottom: 0;
    margin-top: 30px;
  }
}
.our-team .chairman-details .details h4 {
  font-family: "Esquadro", sans-serif;
  color: #fff;
  font-size: 27px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
  padding: 20px 0 17px 0;
  width: 100%;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .our-team .chairman-details .details h4 {
    font-size: 22px;
    line-height: 16px;
  }
}
.our-team .chairman-details .details .archievements {
  margin-top: 30px;
  display: flex;
}
.our-team .chairman-details .details .archievements .item {
  padding: 0 15px;
  max-width: 230px;
  border-left: 1px solid #fff;
}
@media (max-width: 575.98px) {
  .our-team .chairman-details .details .archievements .item {
    max-width: 100%;
    padding: 5px;
  }
}
.our-team .chairman-details .details .archievements .item span {
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .our-team .chairman-details .details .archievements .item span {
    display: block;
    margin-bottom: 10px;
  }
}
.our-team .chairman-details .details .archievements .item span img {
  max-width: 70px;
  width: 100%;
  margin-right: 15px;
}
@media (max-width: 1199.98px) {
  .our-team .chairman-details .details .archievements .item span img {
    margin-right: 0;
  }
}
@media (max-width: 575.98px) {
  .our-team .chairman-details .details .archievements .item span img {
    max-width: 45px;
  }
}
.our-team .chairman-details .details .archievements .item span span {
  font-size: 40px;
  font-weight: normal;
  color: #fff;
}
@media (max-width: 1199.98px) {
  .our-team .chairman-details .details .archievements .item span span {
    font-size: 34px;
  }
}
@media (max-width: 1199.98px) {
  .our-team .chairman-details .details .archievements .item span span {
    font-size: 24px;
  }
}
.our-team .chairman-details .details .archievements .item p {
  color: #fff;
}
.our-team .chairman-details .details .archievements .item span.oblique {
  color: #fff;
  font-size: 15px;
  font-style: oblique;
  line-height: 1.2;
  margin-top: 20px;
}
@media (max-width: 767.98px) {
  .our-team .chairman-details .details .archievements .item span.oblique {
    font-size: 13px;
  }
}
.our-team .chairman-details .details a {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: Normal;
}
.our-team .chairman-details .details a img {
  max-width: 50px;
  width: 100%;
  margin-right: 10px;
}
@media (max-width: 1199.98px) {
  .our-team .chairman-details .details a {
    font-size: 16px;
  }
}
.our-team .chairman-details p.message {
  padding: 40px 38px 75px 63px;
  max-width: 600px;
  width: 100%;
  color: #fff;
  background: url(../assets/images/ChairmanBubble@1x.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -50px;
  left: 60%;
  transform: translateX(-50%);
}
@media (max-width: 767.98px) {
  .our-team .chairman-details p.message {
    left: 0;
    transform: none;
  }
}
.our-team .ceo-wrapper {
  padding-top: 50px;
}
@media (max-width: 991.98px) {
  .our-team .ceo-wrapper .chairman-details {
    flex-direction: column-reverse;
  }
}
.our-team .ceo-wrapper .chairman-details .img {
  max-width: 700px;
}
.our-team .ceo-wrapper .chairman-details .img p {
  max-width: 150px;
  position: absolute;
  top: 50%;
  right: 70px;
  left: auto;
  color: #fff;
}
.our-team .ceo-wrapper .chairman-details p.message {
  padding: 40px 43px 75px 70px;
  max-width: 600px;
  width: 100%;
  color: #fff;
  background: url(../assets/images/CEOBubble@1x.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -50px;
  left: 40%;
  transform: translateX(-50%);
}
@media (max-width: 767.98px) {
  .our-team .ceo-wrapper .chairman-details p.message {
    transform: none;
    left: 0;
  }
}
@media (max-width: 575.98px) {
  .our-team .ceo-wrapper .chairman-details p.message {
    padding: 40px 43px 75px 26px;
  }
}
.our-team .ceo-wrapper .chairman-details .head {
  display: flex;
  justify-content: flex-end;
}
.our-team .ceo-wrapper .chairman-details .head h2 {
  margin-left: auto;
}
.our-team .ceo-wrapper .chairman-details .details {
  margin-left: 0;
  margin-top: 150px;
  width: auto;
}
@media (max-width: 1199.98px) {
  .our-team .ceo-wrapper .chairman-details .details {
    margin-bottom: 0;
  }
}
@media (max-width: 991.98px) {
  .our-team .ceo-wrapper .chairman-details .details {
    margin-top: 30px;
  }
}
.our-team .ceo-wrapper .chairman-details .details .archievements {
  padding: 20px 0 0 0;
  border-top: 1px solid #fff;
}
.our-team .ceo-wrapper .chairman-details .details .archievements .item {
  max-width: 275px;
  width: 100%;
}
.our-team .ceo-wrapper .chairman-details .details .archievements .item .card-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.our-team .ceo-wrapper .chairman-details .details .archievements .item .card-wrapper .dual-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.our-team .ceo-wrapper .chairman-details .details .archievements .item .card-wrapper .dual-text .emphasis {
  font-size: 20px;
}
.our-team .ceo-wrapper .chairman-details .details .archievements .item .card-wrapper p {
  margin-top: 10px;
}
@media (max-width: 575.98px) {
  .our-team .ceo-wrapper .chairman-details .details .archievements .item .card-wrapper p {
    margin: 0;
  }
}
.our-team .ceo-wrapper .chairman-details .details .archievements .item .card-wrapper.noborder {
  border-bottom: none;
}

.features {
  padding: 100px 0 50px 0;
  background-image: linear-gradient(to bottom, #fff 0%, #f9f7f6 9%, #f0ece7 31%, #eae6df 57%, #e9e4dd 100%);
  position: relative;
}
@media (max-width: 991.98px) {
  .features {
    padding: 50px 0;
  }
}
.features::after {
  content: "";
  background: url(../assets/images/SpecialFeaturesEnder@1x.png);
  width: 100%;
  max-height: 58px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  transform: translateY(70%);
  left: 0;
  z-index: 99;
}
@media (max-width: 1359.98px) {
  .features::after {
    background-size: contain;
  }
}
@media (max-width: 991.98px) {
  .features::after {
    bottom: -5px;
  }
}
.features .head h2.main-h2 {
  text-align: center;
}
.features .features-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .features .features-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 575.98px) {
  .features .features-wrapper {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
.features .features-wrapper .item {
  max-width: 385px;
  width: 100%;
}
@media (max-width: 1199.98px) {
  .features .features-wrapper .item {
    margin: 0 10px;
  }
}
@media (max-width: 575.98px) {
  .features .features-wrapper .item {
    max-width: 100%;
    margin: 0;
  }
}
.features .features-wrapper .item .details {
  padding: 10px 30px;
}
.features .features-wrapper .item .details h3 {
  min-height: 80px;
  font-size: 22px;
  font-family: eEsquadro;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.55px;
  color: #a62f4e;
  margin-bottom: 50px;
  position: relative;
}
.features .features-wrapper .item .details h3::after {
  content: "";
  background: url(../assets/images/SpecialFeaturesLines@1x.png);
  width: 100%;
  max-height: 30px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -15px;
  transform: translateY(70%);
  left: 0;
}
.features .features-wrapper .item .details p {
  font-size: 15px;
}
.features .features-wrapper .item .img {
  max-width: 370px;
}
@media (max-width: 575.98px) {
  .features .features-wrapper .item .img {
    margin: 0 auto;
  }
}
.features .features-wrapper .item .img img {
  width: 100%;
}
.features .download {
  color: #a62f4e;
  justify-content: center;
  margin-top: 30px;
}

.slider {
  position: relative;
}
.slider::after {
  content: "";
  background: url(../assets/images/SpecialFeaturesEnder@1x.png);
  width: 100%;
  max-height: 58px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  transform: translateY(70%);
  left: 0;
  z-index: 99;
}
@media (max-width: 1359.98px) {
  .slider::after {
    background-size: contain;
  }
}
@media (max-width: 991.98px) {
  .slider::after {
    bottom: -5px;
  }
}
.slider .slider-wrapper .slick-track, .slider .slider-wrapper .slick-list {
  display: flex;
}
.slider .slider-wrapper .slick-slide {
  height: 100%;
}
.slider .slider-wrapper .slick-slide:has(.pink) {
  background-color: #e63b80;
}
.slider .slider-wrapper .slick-slide:has(.green) {
  background-color: #57a746;
}
.slider .slider-wrapper .slick-slide:has(.orange) {
  background-color: #d3743b;
}
.slider .slider-wrapper .slick-slide:has(.blue) {
  background-color: #0c8caf;
}
.slider .slider-wrapper .slick-slide:has(.voilet) {
  background-color: #903779;
}
.slider .slider-wrapper .slick-arrow {
  width: 50px;
  height: 50px;
  z-index: 99;
}
@media (max-width: 575.98px) {
  .slider .slider-wrapper .slick-arrow {
    top: 30%;
  }
}
.slider .slider-wrapper .slick-arrow::before {
  content: none;
}
.slider .slider-wrapper .slick-arrow.slick-next {
  right: 5%;
  background: url(../assets/images/RightArrow@1x.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1359.98px) {
  .slider .slider-wrapper .slick-arrow.slick-next {
    right: 30px;
  }
}
@media (max-width: 1199.98px) {
  .slider .slider-wrapper .slick-arrow.slick-next {
    right: 15px;
  }
}
.slider .slider-wrapper .slick-arrow.slick-prev {
  left: 5%;
  background: url(../assets/images/LeftArrow@1x.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1359.98px) {
  .slider .slider-wrapper .slick-arrow.slick-prev {
    left: 30px;
  }
}
@media (max-width: 1199.98px) {
  .slider .slider-wrapper .slick-arrow.slick-prev {
    left: 15px;
  }
}
.slider .slider-wrapper .slide-item {
  padding: 50px 0;
  max-height: 100%;
  min-height: 100vh;
}
@media (max-width: 1199.98px) {
  .slider .slider-wrapper .slide-item {
    max-height: 100%;
    min-height: 100%;
    padding-right: 50px;
  }
}
@media (max-width: 991.98px) {
  .slider .slider-wrapper .slide-item {
    max-height: 100%;
    min-height: 100%;
    padding-right: 0;
  }
}
.slider .slider-wrapper .slide-item .container {
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 991.98px) {
  .slider .slider-wrapper .slide-item .container {
    flex-direction: column;
  }
}
.slider .slider-wrapper .slide-item .head {
  max-width: 60%;
  padding-right: 50px;
}
@media (max-width: 991.98px) {
  .slider .slider-wrapper .slide-item .head {
    padding: 0;
    margin-bottom: 30px;
  }
}
.slider .slider-wrapper .slide-item .head h2 {
  color: #fff;
}
.slider .slider-wrapper .slide-item .head .img {
  max-width: 100%;
}
.slider .slider-wrapper .slide-item .head .img img {
  width: 100%;
}
.slider .slider-wrapper .slide-item .details {
  max-width: 400px;
  margin-top: 100px;
}
@media (max-width: 1199.98px) {
  .slider .slider-wrapper .slide-item .details {
    margin-top: 0;
  }
}
.slider .slider-wrapper .slide-item .details p {
  color: #fff;
}
.slider .slider-wrapper .slide-item .details h3 {
  color: #fff;
  font-family: Signika;
  margin: 20px 0;
  font-size: 58px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -1.45px;
}
@media (max-width: 991.98px) {
  .slider .slider-wrapper .slide-item .details h3 {
    font-size: 40px;
    line-height: 46px;
  }
}
@media (max-width: 767.98px) {
  .slider .slider-wrapper .slide-item .details h3 {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 575.98px) {
  .slider .slider-wrapper .slide-item .details h3 {
    font-size: 32px;
    line-height: 38px;
  }
}

.downloads {
  padding: 100px 0 50px 0;
  background: url(../assets/images/ChairmanBG@1x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.downloads .downloads-links {
  display: flex;
  align-items: flex-start;
}
.downloads .downloads-links .img {
  max-width: 670px;
}
@media (max-width: 767.98px) {
  .downloads .downloads-links .img {
    display: none;
  }
}
.downloads .downloads-links .img img {
  width: 100%;
}
.downloads .downloads-links .links {
  max-width: 500px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .downloads .downloads-links .links {
    max-width: 100%;
  }
}
@media (max-width: 575.98px) {
  .downloads .downloads-links .links {
    margin-left: 0;
  }
}
.downloads .downloads-links .links .head {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.downloads .downloads-links .links .head h2 {
  color: #fff;
  margin-bottom: 50px;
}
@media (max-width: 1199.98px) {
  .downloads .downloads-links .links .head h2 {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 767.98px) {
  .downloads .downloads-links .links .head h2 {
    margin: 0;
  }
}
.downloads .downloads-links .links .head .img {
  display: none;
  max-width: 400px;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  .downloads .downloads-links .links .head .img {
    display: flex;
  }
}
.downloads .downloads-links .links .head div {
  flex-direction: column;
  display: flex;
}
@media (max-width: 767.98px) {
  .downloads .downloads-links .links .head div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.downloads .downloads-links .links .head a {
  margin: 30px 0;
  display: inline-flex;
}
@media (max-width: 1199.98px) {
  .downloads .downloads-links .links .head a {
    margin: 20px 0;
  }
}
.downloads .downloads-links .links .head a img {
  margin-right: 20px;
}

footer {
  padding: 20px 0;
}
footer .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .inner .social-media a {
  max-width: 31px;
  display: inline-block;
  margin-right: 33px;
}
@media (max-width: 575.98px) {
  footer .inner .social-media a {
    margin-right: 10px;
  }
}
footer .inner .social-media a:last-child {
  margin-right: 0;
}
footer .inner .social-media a img {
  width: 100%;
}
footer .inner .copyrights {
  display: inline-flex;
}
@media (max-width: 575.98px) {
  footer .inner .copyrights {
    max-width: 130px;
  }
}
footer .inner .copyrights p {
  font-size: 13px;
}
@media (max-width: 575.98px) {
  footer .inner .copyrights p {
    font-size: 12px;
    line-height: 18px;
  }
}

.download {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: normal;
}
.download img {
  max-width: 50px;
  width: 100%;
  margin-right: 15px;
}
@media (max-width: 767.98px) {
  .download img {
    margin-right: 10px;
  }
}
@media (max-width: 1199.98px) {
  .download {
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  .download {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */